<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
     
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>OAuth</h1>
            <h2>Homepage</h2>
        </header>
    </body>
</html>
